<section class="services" id="services">
  <div class="container">

    <h1>Edit information</h1>
    <span class="underline underline-long"></span>
      <%= form_tag "/users/#{@user.id}", method: :patch, :class => "form-vertical" do %>

      <div class="form-group">
        <%= label_tag :first_name %>
        <%= text_field_tag :first_name, @user.first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :last_name %>
        <%= text_field_tag :last_name, @user.last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email, @user.email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :phone_number %>
        <%= text_field_tag :phone_number, @user.phone_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :location %>
        <%= text_field_tag :location, @user.location, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :bio %>
        <%= text_area_tag :bio, @user.bio, class: "form-control" %>
      </div>

      <%= submit_tag "Update" %>

      <% end %>
    <div>
      <%= link_to "/pictures" do %>
          <i class="fa fa-photo"></i> Your pictures
      <% end %>
    </div>
    <div>
      <%= link_to "/users/#{@user.id}", method: :delete do %>
        <i class="fa fa-close"></i> Delete account
      <% end %>
    </div>
    <div>
      <%= link_to "/users/#{@user.id}" do %>
        <i class='fa fa-arrow-left'></i> Back to profile
      <% end %>    
    </div> 

  </div>
</section>