
<% if !current_user %>
<section class="intro" id="intro">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="intro-section">
          <%= image_tag("Logo.png") %>
          <h1>Find and meet board gamers in your area!</h1>
          <ul class="list-inline">
            <li>
              <a href="/users/sign_up" class="btn btn-custom">
                <i class="fa fa-arrow-circle-o-up"></i>
                Sign up
              </a>
            </li>
            <li>
              <a href="/users/sign_in" class="btn btn-custom-border">
                <i class="fa fa-sign-in"></i>
                Sign in
              </a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>

</section>
<% end %>


<section class="screenshots" id="screenshots">
  
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <div class="section-head">
          <% if !current_user %>
            <h1>Sample</h1>
          <% else %>
            <h1>Users similar to you</h1>
          <% end %>
          <span class="underline"></span>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-12">
        <div class="screens">
          <div class="screen">
            <a href="images/screen1.png" data-lightbox-gallery="screens">
              <%= image_tag "screen1.png" %>
              <span class="hover-screen">
                <i class="fa fa-search"></i>
              </span>
            </a>
          </div>
          <div class="screen">
            <a href="images/screen2.png" data-lightbox-gallery="screens">
              <%= image_tag "screen2.png" %>
              <span class="hover-screen">
                <i class="fa fa-search"></i>
              </span>
            </a>
          </div>
          <div class="screen">
            <a href="images/screen3.png" data-lightbox-gallery="screens">
              <%= image_tag "screen3.png" %>
              <span class="hover-screen">
                <i class="fa fa-search"></i>
              </span>
            </a>
          </div>
          <div class="screen">
            <a href="images/screen4.png" data-lightbox-gallery="screens">
              <%= image_tag "screen4.png" %>
              <span class="hover-screen">
                <i class="fa fa-search"></i>
              </span>
            </a>
          </div>
          <div class="screen">
            <a href="images/screen1.png" data-lightbox-gallery="screens">
              <%= image_tag "screen1.png" %>
              <span class="hover-screen">
                <i class="fa fa-search"></i>
              </span>
            </a>
          </div>
          <div class="screen">
            <a href="images/screen2.png" data-lightbox-gallery="screens">
              <%= image_tag "screen2.png" %>
              <span class="hover-screen">
                <i class="fa fa-search"></i>
              </span>
            </a>
          </div>
          <div class="screen">
            <a href="images/screen3.png" data-lightbox-gallery="screens">
              <%= image_tag "screen3.png" %>
              <span class="hover-screen">
                <i class="fa fa-search"></i>
              </span>
            </a>
          </div>
          <div class="screen">
            <a href="images/screen4.png" data-lightbox-gallery="screens">
              <%= image_tag "screen4.png" %>
              <span class="hover-screen">
                <i class="fa fa-search"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>