<!-- begin brief section -->
<section class="brief" id="brief">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="brief-content">
          <h1><%= "#{@full_name}" %></h1>
          <div class="underline"></div>
          <p><%= "#{@user.email}" %></p>
          <p><%= "#{@user.phone_number}" %></p>
          <p><%= "#{@user.location}" %></p>
          <p><%= "#{@user.bio}" %></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <figure class="small-slider">
          <% @user.pictures.each do |picture| %>
            <!-- begin single slider item -->
            <div class="item">
              <%= image_tag("#{picture.link}") %>
            </div>
            <!-- end single slider item -->
          <% end %>
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- end brief section -->