<section class="brief" id="brief">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-head-left-minus">
          <h1><%= @full_name %></h1>
          <span class="underline underline-long"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="brief-content">
          <p><%= @user.email %></p>
          <p><%= @user.phone_number %></p>
          <p><%= @user.location %></p>
          <p><%= @user.bio %></p>
        </div>
      </div>
      <div class="col-md-6">
        <figure class="small-slider">
          <% if @user.profile_picture %>
            <div class="item style_image_crop">
              <%= image_tag(@profile_picture[0].link) %>
            </div>
          <% end %>
          <% @user_pictures.each do |picture| %>
            <div class="item style_image_crop">
              <%= image_tag(picture.link) %>
            </div>
          <% end %>
        </figure>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-head-left">
          <h3>Owned Board Games</h1>
          <span class="underline underline-long"></span>
        </div>
      </div>
    </div>

    <table class="gamesTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Developer</th>
          <th><%= "#{@user.first_name}'s rating" %></th>
          <th>Number of plays</th>
        </tr>
      </thead>

      <tbody> 
        <% @owned_games.each do |owned_game| %>
          <tr>
            <td class="gamesTableTd"><%= owned_game.boardgame.name %></td>
            <td class="gamesTableTd"><%= owned_game.boardgame.developer %></td>
            <td class="gamesTableTd"><%= owned_game.rating %></td>
            <td class="gamesTableTd"><%= owned_game.num_of_plays %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>

</section>