<!-- begin brief section -->
<section class="brief" id="brief">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-head">
          <h1><%= "#{current_user.first_name}'s Board Games" %></h1>
          <span class="underline"></span>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Developer</th>
        <th><%= "#{current_user.first_name}'s rating" %></th>
        <th>Number of plays</th>
      </tr>
      
      <% @owned_boardgames.each do |owned_game| %>
        <tr>
          <td><%= owned_game.boardgame.name %></td>
          <td><%= owned_game.boardgame.developer %></td>
          <td><%= owned_game.rating %></td>
          <td><%= owned_game.num_of_plays %></td>
          <td><%= link_to "Edit this board game", "/owned_games/#{owned_game.id}/edit", method: :get %><br><%= link_to "Delete this board game", "/owned_games/#{owned_game.id}", method: :delete %></td>
        </tr>
      <% end %>
    </table>
    
  </div>

  <div class="container">

    <h3>Add a board game</h3>

    <%= form_tag "/owned_games", method: :post do %>

      <div>
        <%= hidden_field_tag :user_id, current_user.id %>
      </div>
      <div>
        <%= label_tag "Board game" %>
        <%= collection_select :boardgame, :boardgame_id, @unowned_boardgames, :id, :name %>
      </div>
      <div>
        <%= label_tag :rating %>
        <%= text_field_tag :rating %>
      </div>
      <div>
        <%= label_tag :number_of_plays %>
        <%= text_field_tag :number_of_plays %>
      </div>

    <%= submit_tag "Add board game" %>

    <% end %>
  </div>
</section>
<!-- end brief section -->