<section class="brief" id="brief">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-head-left section-head-left-down">
          <h1><%= "#{current_user.first_name}'s Board Games" %></h1>
          <span class="underline underline-xlong"></span>
        </div>
      </div>

      <div class="col-md-6-right ownership-form">

        <%= form_tag "/owned_games", method: :post, :class => "form-vertical" do %>

          <div class="form-group">
            <%= hidden_field_tag :user_id, current_user.id %>
          </div>
          <div class="form-group">
            <%= label_tag "Board game" %>
            <%= collection_select :boardgame, :boardgame_id, @unowned_boardgames, :id, :name %>
          </div>
          <div class="form-group">
            <%= label_tag :rating %>
            <%= text_field_tag :rating %>
          </div>
          <div class="form-group">
            <%= label_tag :number_of_plays %>
            <%= text_field_tag :number_of_plays %>
          </div>

        <%= submit_tag "Add board game" %>

        <% end %>
      </div>
    </div>

    <table class="gamesTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Developer</th>
          <th><%= "#{current_user.first_name}'s rating" %></th>
          <th>Number of plays</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @owned_boardgames.each do |owned_game| %>
          <tr>
            <td><%= owned_game.boardgame.name %></td>
            <td><%= owned_game.boardgame.developer %></td>
            <td><%= owned_game.rating %></td>
            <td><%= owned_game.num_of_plays %></td>
            <td><%= link_to "Edit this board game", "/owned_games/#{owned_game.id}/edit", method: :get %><br><%= link_to "Delete this board game", "/owned_games/#{owned_game.id}", method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>

</section>