
<section class="screenshots" id="screenshots">
  
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="section-head-left">
          <h1><%= "#{@user.first_name}'s pictures" %></h1>
          <span class="underline underline-xlong"></span>
        </div>
      </div>
    
      <div class="col-md-6-right-down">

        <%= form_tag "/pictures", method: :post, :class => "form-inline" do %>

        <div class="form-group">
          <%= hidden_field_tag :user_id, @user.id %>
        </div>
        <div class="form-group">
          <%= text_field_tag(:link, nil, class: 'input-large') %>
        </div>

        <%= submit_tag "Add picture" %>

        <% end %>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-12">
        <div class="screens">
          <% @user.pictures.each_with_index do |picture, index| %>
            <div class="screen">
                <%= image_tag((picture.link), :class => "style_image") %>
                <%= form_tag "/pictures/#{picture.id}", method: :patch do %>
      
                  <div>
                    <%= hidden_field_tag :picture_id, picture.id %>
                  </div>

                  <%= submit_tag "Set as profile picture" %>

                <% end %>
                <i class='fa fa-close'></i> <%= link_to "Delete this image", "/pictures/#{picture.id}", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</section>