
<section class="screenshots" id="screenshots">
  
  <div class="container">
    
    <div class="container">
      <h3>Add a picture</h3>

      <%= form_tag "/pictures", method: :post do %>
      
      <div>
        <%= hidden_field_tag :user_id, @user.id %>
      </div>
      <div>
        <%= label_tag :link %>
        <%= text_field_tag :link %>
      </div>

      <%= submit_tag "Add Picture" %>

      <% end %>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="section-head">
          <h1><%= "#{@user.first_name}'s pictures" %></h1>
          <span class="underline"></span>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-12">
        <div class="screens">
          <% @user.pictures.each_with_index do |picture, index| %>
            <div class="screen">
                <%= image_tag(picture.link) %>
                <%= link_to "Delete this image", "/pictures/#{picture.id}", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</section>