<!-- begin services section -->
<section class="services" id="services">
  <div class="container">

    <h1>Add a board game</h1>

    <%= form_tag "/boardgames", method: :post do %>

    <div>
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
    <div>
      <%= label_tag :developer %>
      <%= text_field_tag :developer %>
    </div>

    <%= submit_tag "Submit" %>

    <% end %>
  </div>
</section>
<!-- end services section -->