<!DOCTYPE html>
<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Board game meetups">
<meta name="author" content="Andrew Wei">

<head>
  <title>MeepleMeet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">  
            <a class="navbar-brand" href="/users"><%= image_tag("logo-small.png") %></a>
        </div>
    
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <% if current_user && current_user.admin %>
                    <li><%= link_to "Manage games", "/boardgames" %></li>
                    <li><%= link_to "Manage game mechanisms", "/categories" %></li>
                <% end %>
                <% if current_user %>
                    <li><%= link_to "Profile", "/users/#{current_user.id}" %></li>
                    <li><%= link_to "Edit user info", "/users/#{current_user.id}/edit" %></li>
                    <li><%= link_to "Owned games", "/owned_games" %></li>
                    <li><%= link_to "User pictures", "/pictures" %></li>
                    <li><%= link_to "Sign out", "/users/sign_out", method: :delete %></li>
                <% else %>
                    <li><%= link_to "Sign up", "/users/sign_up" %></li>
                    <li><%= link_to "Sign in", "/users/sign_in" %></li>
                <% end %>
            </ul>   
        </div>
    </div>


<%= yield %>

<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <%= image_tag(("Logo.png"), :class => "logo-footer") %>
            </div>

            <div class="col-md-3">
                <h4>About MeepleMeet</h4>
                <div class="underline-small"></div>
                <p>MeepleMeet is an online matchmaking service that allows users to store board game information, connecting these users to one another based on their preferences!</p>
            </div>

            <div class="col-md-3">
                <h4>Contact me</h4>
                <div class="underline-small"></div>
                <ul>
                    <li>408.438.3879</li>
                    <li>
                        <a href="mailto:andrew.wei92@yahoo.com">andrew.wei92@yahoo.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Links</h4>
                <div class="underline-small"></div>
                <ul class="list-inline">
                    <li>
                        <a href="http://www.github.com/andrewhwei"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/in/andrew-wei-39103686"><i class="fa fa-linkedin-square"></i></a>
                    </li>
                    <li>
                        <a href="http://www.andrewcltc.wordpress.com"><i class="fa fa-wordpress"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>



</body>
</html>
