<!DOCTYPE html>
<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Board game meetups">
<meta name="author" content="Andrew Wei">

<head>
  <title>MeepleMeet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">  
            <a class="navbar-brand" href="/users"><%= image_tag(("logo-small.png"), :class => "logo-header") %></a>
        </div>
    
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <% if current_user && current_user.admin %>
                    <li>
                        <%= link_to "/boardgames" do %>
                            <i class="fa fa-map-o"></i> Manage games
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "/categories" do %>
                            <i class="fa fa-gear"></i> Manage game mechanisms
                        <% end %>    
                    </li>
                <% end %>
                <% if current_user && !current_user.admin %>
                    <li>
                        <%= link_to "/boardgames" do %>
                            <i class="fa fa-map-o"></i> Board game index
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "/users/#{current_user.id}" do %>
                            <i class="fa fa-user"></i> Profile
                        <% end %>   
                    </li>
                    <li>
                        <%= link_to "/follows" do %>
                            <i class="fa fa-users"></i> Follows
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "/users/#{current_user.id}/edit" do %>
                            <i class="fa fa-edit"></i> Edit user info
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "/owned_games" do %>
                            <i class="fa fa-list"></i> Owned games
                        <% end %>
                    </li>
                <% end %>
                <% if current_user %>
                    <li>
                        <%= link_to "/users/sign_out", method: :delete do %>
                            <i class="fa fa-sign-out"></i> Sign out
                        <% end %>
                    </li>
                <% else %>
                    <li>
                        <%= link_to "/users/sign_up" do %>
                            <i class="fa fa-pencil-square-o"></i> Sign up
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "/users/sign_in" do %>
                            <i class="fa fa-sign-in"></i> Sign in
                        <% end %>
                    </li>
                <% end %>
            </ul>   
        </div>

        <% flash.each do |name, messages| %>
            <div class="alert alert-<%= name %> alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <% if messages.kind_of?(Array) %>
                    <ul>
                        <% messages.each do |message| %>
                            <li> <%= message %> </li>
                        <% end %>
                    </ul>
                <% else %>
                    <%= messages %>
                <% end %>
            </div>
        <% end %>
    </div>


<%= yield %>

<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <%= image_tag(("MeepleMeet.png"), :class => "logo-footer") %>
            </div>

            <div class="col-md-3">
                <h4>About MeepleMeet</h4>
                <div class="underline-small"></div>
                <p>MeepleMeet is an online matchmaking service that allows users to store board game information, connecting these users to one another based on their preferences!</p>
            </div>

            <div class="col-md-3">
                <h4>Contact me</h4>
                <div class="underline-small"></div>
                <ul>
                    <li>408.438.3879</li>
                    <li>
                        <a href="mailto:andrew.wei92@yahoo.com">andrew.wei92@yahoo.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Links</h4>
                <div class="underline-small"></div>
                <ul class="list-inline">
                    <li>
                        <a href="http://www.github.com/andrewhwei"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/in/andrew-wei-39103686"><i class="fa fa-linkedin-square"></i></a>
                    </li>
                    <li>
                        <a href="http://www.andrewcltc.wordpress.com"><i class="fa fa-wordpress"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>



</body>
</html>
